@model WedBlogs.Models.Category

@{
    ViewData["Title"] = "XEM THÔNG TIN DANH MỤC";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>XEM THÔNG TIN DANH MỤC</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/Admin">Dashboard</a></li>
                    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index">QUẢN LÝ QUYỀN TRUY CẬP</a></li>
                    <li><a asp-area="Admin" asp-controller="Categories" asp-action="Details">XEM THÔNG TIN DANH MỤC</a></li>
                </ol>
            </div>
        </div>
    </div>
</div

<div class="card">
    <div class="card-body card-block">
        <form action="" method="post" class="">
            <div class="form-group">
                <label class=" form-control-label">Tên Danh Mục:</label>
                <input class="form-control" type="text" asp-for="CatName" readonly>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Danh Mục Cha:</label>
                <input class="form-control" type="text" asp-for="Parents" asp-items="@ViewBag.DanhMucGoc" readonly>
            </div>
            <div class="form-group">
                <label class=" form-control-label">Sắp xếp:</label>
                <input asp-for="Ordering" type="number" value="0" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label"> Ảnh đại diện:</label>
                <img src="~/images/categories/@Model.Thumb" style="width:100px" alt="@Model.CatName" />
            </div>
            <div class="form-group">
                <label class="form-control-label">Icon:</label>
                <img src="~/images/icons/@Model.Icon" style="width:100px" alt="@Model.CatName" />
            </div>
            <div class="form-group">
                <label class="form-control-label">Cover:</label>
                <img src="~/images/covers/@Model.Cover" style="width:100px" alt="@Model.CatName" />
            </div>
            <div class="form-group">
                <label asp-for="Levels" class="form-control-label"></label>
                <input asp-for="Levels" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label"> Mô Tả:</label>
                <input asp-for="Description" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label"> Tiêu đề:</label>
                <input asp-for="Title" type="text" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="form-control-label"> MetaDesc:</label>
                <input asp-for="MetaDesc" type="text" class="form-control" readonly />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.CatId" class="btn btn-primary"><i class="fa fa-pencil"></i> Chỉnh sửa</a>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-backward"></i> Trở lại</a>
    </div>
</div>
